/* Основные стили */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #fff3e0, #ffe0b2); /* Теплый градиент */
  color: #5d4037; /* Мягкий коричневый цвет для текста */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Заголовок */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5rem;
  color: #bf360c; /* Теплый оранжевый цвет для заголовка */
  font-weight: bold;
}

/* Основной контейнер */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  padding: 20px;
}

.container {
  max-width: 400px;
  width: 100%;
  background: #fff8e1; /* Единый цвет блока */
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Скрытие */
.hidden {
  display: none;
}

/* Заголовки секций */
h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
  color: #e65100; /* Яркий оранжевый для заголовков секций */
  text-transform: uppercase;
}

/* Поля ввода */
input {
  width: 100%;
  padding: px;
  border: 1px solid #e0e0e0; /* Легкая граница */
  border-radius: 6px;
  font-size: 16px;
  background-color: #fff8e1; /* Единый цвет */
  color: #5d4037; /* Темный текст */
}

input:focus {
  border-color: #ff9800; /* Оранжевый цвет при фокусе */
  outline: none;
  box-shadow: 0 0 8px rgba(255, 152, 0, 0.4);
}

/* Кнопки */
button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #ff8a65; /* Теплый оранжево-красный */
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #d84315; /* Более темный оттенок при наведении */
}

button:active {
  transform: scale(0.95);
}

/* Ссылки */
.link {
  color: #ff7043; /* Яркий теплый оранжевый */
  font-size: 14px;
  text-decoration: none;
  margin-top: 15px;
  display: block;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
}

/* Список счетов */
.accounts-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.accounts-list li {
  background: #fff3e0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: #5d4037;
}





input:focus {
  border: 2px solid red;
}

